repos:
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 26.1.0
    hooks:
      - id: black

  - repo: https://github.com/PyCQA/isort
    rev: 8.0.0
    hooks:
      - id: isort

  - repo: https://github.com/jsh9/pydoclint
    rev: 0.6.1
    hooks:
      - id: pydoclint
        args: ["--style", "numpy"]
